<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="aqua">
        <table align="center">
            <tr><th>Employees Details</th></tr>
            <tr><td>Id:{{ id }}</td></tr>
            <tr><td>Name:{{name }}</td></tr>
            <tr><td>Roll_no:{{ rollno }}</td></tr>
            <tr><td>Mobile_no:{{ mob_no }}</td></tr>
        </table>
</body>
</html>